/node_modules
/config/v2board.php
/config/googleCloudStorageKey.json
/public/hot
/public/storage
/public/env.example.js
*.user.ini
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.idea
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
yarn.lock
docker-compose.yml
.DS_Store
/docker
storage/laravels.conf
storage/laravels.pid
storage/update_pending
storage/laravels-timer-process.pid
cli-php.ini
frontend
docker-compose.yaml
bun.lockb
compose.yaml
compose.host.yaml
compose.split.yaml
.scribe

# 服务器凭据文件（敏感信息）
服务器
糖果服务器
乌龟服务器
鱼服务器
